/* Container for the Bar Chart */
.bar-chart-container {
  width: 100%;
  max-width: 100%; /* Set a maximum width for the container */
}

/* Chart Title */
.bar-chart-title {
  font-size: 1rem;
  color: #3e3e3e;
  margin: 5px 0px 20px 15px;
}

.data-size {
  font-size: 0.8rem;
}

.title-legend-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* Add space below for the chart */
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .bar-chart-container {
    padding: 15px;
    width: 90%; /* Make the container responsive */
  }

  .bar-chart-title {
    font-size: 1rem; /* Reduce title font size on smaller screens */
  }
}

@media only screen and (max-width: 480px) {
  .bar-chart-container {
    padding: 10px;
    width: 95%;
  }

  .bar-chart-title {
    font-size: 1rem;
  }
}
