.bubble-chart-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.bubble-label {
  font-size: 1rem;
  color: #3e3e3e; /* Custom color for the title */
  text-align: center; /* Center the title */
}

.bubble-value {
  font-weight: bold;
  fill: #3e3e3e;
}

.bubble:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
  transition: transform 0.2s, stroke 0.2s;
}
