.bubble-chart-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.bubble-group {
  cursor: pointer;
}

.bubble {
  stroke-width: 1px;
  stroke: #d3cce3;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2)); /* Subtle shadow */
}

.bubble-label {
  font-weight: 600;
  fill: #2e073f;
}

.bubble-value {
  font-weight: bold;
  fill: #2e073f;
}

.bubble:hover {
  stroke: #212121; /* Darker stroke on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
  transition: transform 0.2s, stroke 0.2s;
}

@media (max-width: 600px) {
  .bubble-label,
  .bubble-value {
    font-size: 8px;
  }
}
