.dashboard2-container {
  position: relative;
  display: flex;
  flex-direction: row; /* Default to row layout */
  gap: 20px;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap; /* Allow wrapping for responsiveness */
}

.text-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: black;
}

.text-subtitle {
  font-size: 18px;
  margin-bottom: 10px;
  color: black;
}

.year-dropdown-container {
  display: flex;
  justify-content: flex-end; /* This moves the dropdown to the right */
  padding-right: 20px; /* Optional: adjust padding as per your needs */
  margin-top: 20px;
  color: white;
}

.top-container {
  background-image: linear-gradient(to right, #d3cce3, #e9e4f0);
  border-radius: 12px; /* Rounded corners */
  padding: 20px; /* Padding inside the container */
  width: 100%;
  margin-top: 0 auto;
  display: flex;
  flex-direction: row; /* Default to row layout */
}

.button-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.button-group button {
  cursor: pointer;
  background-color: #4a0072;
  color: white;
  border: none;
  border-radius: 5px;
  flex: 1;
  transition: background-color 0.3s ease; /* Smooth hover transition */
  min-width: 100px;
  max-width: 300px;
}

.button-group button:hover {
  background-color: #ad49e1; /* Hover color */
}

.bottom-container {
  background-image: linear-gradient(to right, #d3cce3, #e9e4f0);
  border-radius: 12px; /* Rounded corners */
  padding: 20px; /* Padding inside the container */
  width: 100%;
  margin-top: 0 auto;
  display: flex;
  flex-direction: row; /* Default to row layout */
}

.middle-container {
  background-image: linear-gradient(to right, #d3cce3, #e9e4f0);
  border-radius: 12px; /* Rounded corners */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 20px; /* Padding inside the container */
  width: 100%;
  gap: 10px;
}

.container-title {
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px rgba (0, 0, 0, 0.2);
  font-weight: bold;
  color: black;
  text-align: left;
}

.switch-button {
  background-color: #4a0072;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%; /* Make the button full width on small screens */
  display: block;
  margin: 0 auto;
}

.cards-grid-container {
  display: grid;
  grid-template-columns: repeat(
    5,
    1fr
  ); /* Two columns for the two text items */
  gap: 20px; /* Space between text items */
  margin-bottom: 20px; /* Margin below to separate from cards */
  justify-items: center; /* Center align the text items */
  width: 100%;
}

.charts-grid-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(550px, 1fr)
  ); /* Default 3 columns */
  gap: 10px; /* Gap between the charts */
  justify-items: center; /* Center align the text items */
  align-items: start;
  width: 100%;
}

/* Container for each individual chart */
.chart-wrapper {
  width: 100%; /* Full width inside the grid */
  min-width: 250px; /* Prevent wrapping on small screens */
  max-width: 100%; /* Allow container to grow */
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Start from the top */
  overflow: hidden; /* Contain overflow */
}

/* Chart title styling */
.chart-title {
  font-size: 1.1rem;
  text-shadow: 1px 1px 2px rgba (0, 0, 0, 0.2);
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis if title overflows */
  white-space: nowrap; /* Keep title on a single line */
}

/* Chart container */
.chart-container {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .button-group {
    justify-content: center;
  }
  .button-group button {
    flex: 1 1 100%;
    margin-botton: 10px;
  }
  .charts-grid-container {
    grid-template-columns: repeat(1, 1fr); /* 2 columns for medium screens */
  }
}

@media (max-width: 768px) {
  .charts-grid-container {
    grid-template-columns: repeat(1, 1fr); /* 1 column for small screens */
  }
}
