.data-date {
  font-size: 0.8rem;
  color: #3e3e3e;
}

.text-dropdown-container {
  padding: 20px;
  display: flex; /* Use Flexbox for layout */
  justify-content: space-between; /* Place items on opposite ends */
  align-items: center; /* Align items vertically */
  font-size: 0.8rem;
  width: 100%;
}

.header-title {
  font-size: 1rem;
}

.year-dropdown-container {
  display: flex;
  justify-content: flex-end; /* This moves the dropdown to the right */
  color: white;
}

.rm-container {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* This moves the dropdown to the right */
  gap: 20px;
  padding-right: 20px; /* Optional: adjust padding as per your needs */
  margin-top: 20px;
  color: #3e3e3e;
  font-size: 0.8rem;
  vertical-align: middle;
}

.top-text {
  line-height: 0.9;
  font-size: 0.8rem;
  margin: 0px;
}

.dashboard4-container {
  position: relative;
  display: flex;
  flex-direction: row; /* Default to row layout */
  gap: 20px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap; /* Allow wrapping for responsiveness */
  padding: 20px;
}

.summary-container-L1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.donut-Chart {
  flex: 1 1 40%;
  max-width: 1 1 40%;
  padding: 20px;
  background-color: rgba(118, 118, 128, 0.08); /* Base dark color */
  box-shadow: 0px 1px 3px rgba(118, 118, 128, 0.08),
    /* Subtle shadow with #767680 */ 0px 4px 8px rgba(0, 0, 0, 0.1); /* Additional elevation */
  box-sizing: border-box; /* Ensure padding is included in width */
  color: #3e3e3e;
  font-size: 0.8rem;
}

.recharts-wrapper g:focus,
.recharts-wrapper path:focus {
  outline: none; /* Remove the focus rectangle */
}

.table-summary {
  flex: 1 1 60%;
  max-width: 1 1 60%;
  background-color: rgba(118, 118, 128, 0.08); /* Base dark color */
  box-shadow: 0px 1px 3px rgba(118, 118, 128, 0.08),
    /* Subtle shadow with #767680 */ 0px 4px 8px rgba(0, 0, 0, 0.1); /* Additional elevation */
  padding: 20px;
  box-sizing: border-box; /* Ensure padding is included in width */
  color: #3e3e3e;
  font-size: 0.8rem;
  gap: 20px;
  align-items: center;
}

.download-button {
  white-space: nowrap; /* Prevent the text from wrapping */
}

.btn-container-L1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  box-sizing: border-box; /* Ensure padding is included in width */
  width: 100%;
}

.dropdown-group {
  flex: 1 1 40%;
  max-width: 1 1 40%;
  background-color: rgba(118, 118, 128, 0.08); /* Base dark color */
  box-shadow: 0px 1px 3px rgba(118, 118, 128, 0.08),
    /* Subtle shadow with #767680 */ 0px 4px 8px rgba(0, 0, 0, 0.1); /* Additional elevation */
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box; /* Ensure padding is included in width */
  margin: 0 auto;
  color: #3e3e3e;
}

.D4-dropdown-cat-group {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 5;
}

.D4-dropdown-container {
  font-size: 0.8rem;
  width: 100%;
}

.lead-time {
  flex: 1 1 30%;
  max-width: 1 1 30%;
  background-color: rgba(118, 118, 128, 0.08); /* Base dark color */
  box-shadow: 0px 1px 3px rgba(118, 118, 128, 0.08),
    /* Subtle shadow with #767680 */ 0px 4px 8px rgba(0, 0, 0, 0.1); /* Additional elevation */
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box; /* Ensure padding is included in width */
  margin: 0 auto;
  color: black;
}

.demand-time {
  flex: 1 1 30%;
  max-width: 1 1 30%;
  background-color: rgba(118, 118, 128, 0.08); /* Base dark color */
  box-shadow: 0px 1px 3px rgba(118, 118, 128, 0.08),
    /* Subtle shadow with #767680 */ 0px 4px 8px rgba(0, 0, 0, 0.1); /* Additional elevation */
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box; /* Ensure padding is included in width */
  margin: 0 auto;
  color: black;
}

.button-group-lead {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.button-group-demand {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.button-group-lead button {
  background-color: white;
  color: #4a0072;
  font-size: 0.8rem;
  flex: 1;
  transition: background-color 0.3s ease; /* Smooth hover transition */
  min-width: 30px;
  max-width: 200px;
}

.button-group-demand button {
  background-color: white;
  color: #4a0072;
  font-size: 0.8rem;
  flex: 1;
  transition: background-color 0.3s ease; /* Smooth hover transition */
  min-width: 30px;
  max-width: 200px;
}

.button-group button:hover {
  background-color: #4a0072;
  color: white;
}

.text-summary {
  flex: 1 1 calc(20% - 30px);
  max-width: calc(20% - 30px); /* Corrected spacing for calc */
  background-image: linear-gradient(to right, #d3cce3, #e9e4f0);
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  color: black;
  display: flex; /* Make the container a flexbox */
  flex-direction: column; /* Stack the text vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
}

.text-label {
  font-size: 2rem;
  text-align: center;
}

.table-container-L1 {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  box-sizing: border-box; /* Ensure padding is included in width */
  margin: 0 auto;
  width: 100%;
}

.table-compare {
  max-width: 100%;
  background-color: rgba(118, 118, 128, 0.08); /* Base dark color */
  box-shadow: 0px 1px 3px rgba(118, 118, 128, 0.08),
    /* Subtle shadow with #767680 */ 0px 4px 8px rgba(0, 0, 0, 0.1); /* Additional elevation */
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box; /* Ensure padding is included in width */
  color: black;
  align-items: center;
}

.download-container {
  display: flex; /* Use Flexbox for layout */
  justify-content: right;
  align-items: center; /* Align items vertically */
  font-size: 0.8rem;
  width: 100%;
}

.text-title {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #3e3e3e;
}

.text-subtitle {
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: #3e3e3e;
}

.remark-container {
  font-size: 0.8rem;
  padding: 10px;
  gap: 0px;
  justify-self: left;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 1px 3px rgba(118, 118, 128, 0.08),
    /* Subtle shadow with #767680 */ 0px 4px 8px rgba(0, 0, 0, 0.1); /* Additional elevation */
  width: 100%;
}

@media (max-width: 768px) {
  .btn-container-L1 > * {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .summary-container-L1 > * {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
