.data-date {
  font-size: 1rem;
  color: #fff;
}

.year-dropdown-container {
  display: flex;
  justify-content: flex-end; /* This moves the dropdown to the right */
  padding-right: 20px; /* Optional: adjust padding as per your needs */
  margin-top: 20px;
  color: white;
}

.dashboard4-container {
  position: relative;
  display: flex;
  flex-direction: row; /* Default to row layout */
  gap: 20px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap; /* Allow wrapping for responsiveness */
  padding: 20px;
}

.summary-container-L1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  box-sizing: border-box; /* Ensure padding is included in width */
  margin: 0 auto;
  width: 100%;
  align-items: center;
}

.donut-Chart {
  flex: 1 1 40%;
  max-width: 1 1 40%;
  background-image: linear-gradient(to right, #d3cce3, #e9e4f0);
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box; /* Ensure padding is included in width */
  color: black;
}

.table-summary {
  flex: 1 1 60%;
  max-width: 1 1 60%;
  background-image: linear-gradient(to right, #d3cce3, #e9e4f0);
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box; /* Ensure padding is included in width */
  color: black;
}

.download-button {
  padding: 20px;
  align-items: center;
}

.btn-container-L1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Default: 3 columns */
  gap: 20px;
  box-sizing: border-box; /* Ensure padding is included in width */
  margin: 0 auto;
  width: 100%;
}

.dropdown-group {
  flex: 1 1 65%;
  max-width: 1 1 65%;
  background-image: linear-gradient(to right, #d3cce3, #e9e4f0);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box; /* Ensure padding is included in width */
  margin: 0 auto;
  color: black;
}

.dropdown-cat-group {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 5;
}

.dropdown-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.lead-time {
  flex: 1 1 17.5%;
  max-width: 1 1 17.5%;
  background-image: linear-gradient(to right, #d3cce3, #e9e4f0);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box; /* Ensure padding is included in width */
  margin: 0 auto;
  color: black;
}

.demand-time {
  flex: 1 1 17.5%;
  max-width: 1 1 17.5%;
  background-image: linear-gradient(to right, #d3cce3, #e9e4f0);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box; /* Ensure padding is included in width */
  margin: 0 auto;
  color: black;
}

.button-group button {
  cursor: pointer;
  background-color: #4a0072;
  color: white;
  border: none;
  border-radius: 5px;
  flex: 1;
  transition: background-color 0.3s ease; /* Smooth hover transition */
  min-width: 100px;
  max-width: 300px;
}

<<<<<<< HEAD
.summary-container-L1 {
  padding: 20px;
  display: flex;
  background-image: linear-gradient(to right, #d3cce3, #e9e4f0);
  border-radius: 8px;
  flex-wrap: wrap;
  gap: 20px;
  box-sizing: border-box; /* Ensure padding is included in width */
  margin: 0 auto;
  width: 100%;
}

.donutChart {
  flex: 1 1 calc(40% - 30px);
  max-width: calc(40%-30px);
  background-image: linear-gradient(to right, #d3cce3, #e9e4f0);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box; /* Ensure padding is included in width */
  color: black;
  align-items: center;
}

<<<<<<< HEAD
<<<<<<< HEAD
.text-summary {
  flex: 1 1 calc(20% - 30px);
  max-width: calc(20% - 30px); /* Corrected spacing for calc */
  background-image: linear-gradient(to right, #d3cce3, #e9e4f0);
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  color: black;
  display: flex; /* Make the container a flexbox */
  flex-direction: column; /* Stack the text vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
}

=======
>>>>>>> 9d0c72da8874d896368048b42f8a09f0aa82650b
=======
>>>>>>> 2056233ea4e5776546453c616763bcae20af3d63
.text-label {
  font-size: 2rem;
  text-align: center;
}

<<<<<<< HEAD
=======
>>>>>>> e78c1dc3e809f30a74c8b8ca42d81ce89ca601d6
.table-summary {
  flex: 1 1 calc(60% - 30px);
  max-width: calc(60%-30px);
  background-image: linear-gradient(to right, #d3cce3, #e9e4f0);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box; /* Ensure padding is included in width */
  color: black;
  align-items: center;
}

=======
>>>>>>> 2056233ea4e5776546453c616763bcae20af3d63
.table-container-L1 {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  box-sizing: border-box; /* Ensure padding is included in width */
  margin: 0 auto;
  width: 100%;
}

.table-compare {
  max-width: 100%;
  background-image: linear-gradient(to right, #d3cce3, #e9e4f0);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box; /* Ensure padding is included in width */
  color: black;
  align-items: center;
}

.text-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: black;
}

.text-subtitle {
  font-size: 18px;
  margin-bottom: 10px;
  color: black;
}

@media (max-width: 768px) {
  .btn-container-L1 > * {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .summary-container-L1 > * {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
