.data-date {
  font-size: 0.8rem;
  color: #3e3e3e;
}

.text-dropdown-container {
  padding: 20px;
  display: flex; /* Use Flexbox for layout */
  justify-content: space-between; /* Place items on opposite ends */
  align-items: center; /* Align items vertically */
  font-size: 0.8rem;
  width: 100%;
}

.header-title {
  font-size: 1rem;
}

.year-dropdown-container {
  display: flex;
  justify-content: flex-end; /* This moves the dropdown to the right */
  color: white;
}

.dashboard3-container {
  position: relative;
  display: flex;
  flex-direction: row; /* Default to row layout */
  gap: 20px;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap; /* Allow wrapping for responsiveness */
}

.dropdown-download-container {
  display: flex; /* Use Flexbox for layout */
  justify-content: space-between; /* Place items on opposite ends */
  align-items: center; /* Align items vertically */
  font-size: 0.8rem;
  width: 100%;
}

.D3-dropdown-cat-group {
  flex: 1; /* Allow the dropdown to take up available space */
  max-width: 50%; /* Optional: Limit the maximum width */
}

.dropdown-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.download-button {
  white-space: nowrap; /* Prevent the text from wrapping */
}

.remark-container {
  font-size: 0.8rem;
  padding: 10px;
  gap: 0px;
  justify-self: left;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 1px 3px rgba(118, 118, 128, 0.08),
    /* Subtle shadow with #767680 */ 0px 4px 8px rgba(0, 0, 0, 0.1); /* Additional elevation */
  width: 100%;
}

.download-container {
  display: flex; /* Use Flexbox for layout */
  justify-content: right;
  align-items: center; /* Align items vertically */
  font-size: 0.8rem;
  width: 100%;
}

.text-title {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #3e3e3e;
}

.text-subtitle {
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: black;
}

.top-container {
  background-color: rgba(118, 118, 128, 0.08); /* Base dark color */
  box-shadow: 0px 1px 3px rgba(118, 118, 128, 0.08),
    /* Subtle shadow with #767680 */ 0px 4px 8px rgba(0, 0, 0, 0.1); /* Additional elevation */
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box; /* Ensure padding is included in width */
}

.table-compare-price {
  flex: 1 1 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(to right, #d3cce3, #e9e4f0);
  border-radius: 8px;
  padding: 20px;
  gap: 20px;
  box-sizing: border-box; /* Ensure padding is included in width */
  align-items: center;
}

.bottom-container {
  background-color: rgba(118, 118, 128, 0.08); /* Base dark color */
  box-shadow: 0px 1px 3px rgba(118, 118, 128, 0.08),
    /* Subtle shadow with #767680 */ 0px 4px 8px rgba(0, 0, 0, 0.1); /* Additional elevation */
  border-radius: 8px;
  padding: 20px;
  max-width: 100%; /* Maximum width set to 75% */
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box; /* Ensure padding is included in width */
}

.D3BarChart-container {
  max-width: 100%; /* Maximum width set to 100% */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-summary {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.chart2-container {
  background-color: #fff; /* Example background for the chart */
  height: 100%; /* Adjust height as needed */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Example shadow */
  width: 100%;
  max-width: 100%;
}

.chart-button-group {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.chart-button {
  background-color: #f7ecff;
  color: #4a0072;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  flex: 1;
  transition: background-color 0.3s ease; /* Smooth hover transition */
}

.chart-button.active {
  background-color: #4a0072;
  color: white;
}

.chart-title {
  font-size: 1.1rem;
  text-shadow: 1px 1px 2px rgba (0, 0, 0, 0.2);
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis if title overflows */
  white-space: nowrap; /* Keep title on a single line */
}

/* Chart Wrapper for Responsive Layout */
.chart-wrapper {
  width: 100%; /* Make the chart container full-width */
  max-width: 1200px; /* Limit the maximum width */
  margin: 0 auto; /* Center the chart container */
  padding: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .spend-analytics-container {
    flex-direction: column; /* Stack containers vertically */
  }
  .chart-wrapper {
    max-width: 100%; /* Full width on smaller screens */
  }

  .chart-content {
    padding-bottom: 70%; /* Increase height for smaller screens */
  }

  .chart-title {
    font-size: 1.2em; /* Adjust font size */
  }

  .left-container,
  .right-container {
    max-width: 100%; /* Allow full width for both containers */
    flex: 1 1 100%; /* Flex basis 100% */
  }
}
