.home-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.home-content {
  position: relative;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.home-sections-container {
  display: flex; /* Use Flexbox */
  gap: 20px; /* Space between sections */
  flex-wrap: wrap; /* Wrap sections on smaller screens */
}

.home-section {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1; /* Allow sections to grow equally */
  min-width: 300px; /* Minimum width for each section */
  opacity: 75%;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Four columns for four cards */
  gap: 20px;
  margin-top: 20px;
}

.menu-card {
  background-image: linear-gradient(to right, #d3cce3, #e9e4f0);
  padding: 15px; /* Smaller padding for smaller cards */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center content including images */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align items like images */
  justify-content: space-between; /* Space between content */
}

.menu-card img {
  max-width: 80%; /* Control the image size */
  height: auto;
  margin-bottom: 15px; /* Spacing below the image */
}

.menu-card-title {
  font-size: 18px;
  margin: 10px 0;
}

.menu-card-description {
  font-size: 14px;
  margin-bottom: 15px;
}

.menu-card a {
  display: inline-block;
  padding: 8px 16px;
  background-color: #6200ea;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 10px;
}

.home-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: black;
}

.home-subtitle {
  font-size: 18px;
  margin-bottom: 20px;
  color: black;
}

@media (max-width: 1200px) {
  .menu-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for medium screens */
  }
}

@media (max-width: 900px) {
  .menu-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for small screens */
  }
}

@media (max-width: 600px) {
  .menu-grid {
    grid-template-columns: repeat(1, 1fr); /* 1 column for very small screens */
  }
}
