/* General Container for the Line Chart */
.line-chart-container {
  width: 100%;
  max-width: 1200px;
}

/* Chart Title */
.line-chart-title {
  font-size: 1rem;
  color: #3e3e3e;
  margin: 5px 0px 20px 15px;
}

/* iPad and Tablets (max-width: 768px) */
@media (max-width: 768px) {
  .line-chart-container {
    padding: 15px;
  }
  .line-chart-title {
    font-size: 1.1rem;
    margin-bottom: 15px;
  }
}

/* iPhone and smaller screens (max-width: 600px) */
@media (max-width: 600px) {
  .line-chart-container {
    padding: 10px;
  }
  .line-chart-title {
    font-size: 1rem;
    margin-bottom: 10px;
  }
}
