.menu-card-image {
  width: 50%;
  height: auto; /* Make sure the image scales */
  border-radius: 8px;
  margin-bottom: 15px;
}

.menu-card-title {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}

.menu-card-description {
  color: #666;
  margin-bottom: 15px;
}

.menu-card-button {
  background-color: #7718bc;
  font-size: 0.8rem;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 70%; /* Make the button full width on small screens */
}

.menu-card-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .menu-card {
    padding: 15px; /* Adjust padding for smaller screens */
  }

  .menu-card-title {
    font-size: 16px; /* Adjust font size for smaller screens */
  }

  .menu-card-description {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .menu-card-title {
    font-size: 14px; /* Further reduce font size for mobile */
  }

  .menu-card-description {
    font-size: 12px;
  }

  .menu-card-button {
    padding: 8px 10px; /* Adjust button padding for smaller screens */
  }
}
