/* NavbarStyles.css */

/* Navbar Styling */
.gradient-navbar {
  background: linear-gradient(
    to right, #d3cce3, #e9e4f0
  ); /* Replace with desired purple gradient colors */
  color: #2E073F;
  border: none;
  font-family: "Sarabun", sans-serif;
  width: 100%;
  z-index: 100;
  padding: 5px 0;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #2E073F; /* Ensure links are white */
  font-family: "Sarabun", sans-serif;
  font-weight: 500;
}

.logout-button {
  background-color: transparent;
  color: #2e073f; /* Yellowish text color */
  font-size: 0.9rem; /* Adjust text size */
  font-weight: bold; /* Bold text */
  border: 2px solid #2e073f; /* Border color matches text */
  border-radius: 10px; /* Rounded corners */
  padding: 5px 10px; /* Spacing inside the button */
  cursor: pointer; /* Cursor pointer on hover */
  text-transform: capitalize; /* Ensure "Download" has first-letter caps */
  transition: background-color 0.3s, color 0.3s;
}

/* Hover Effect */
.logout-button:hover {
  background-color: #ffffff; /* Yellowish background on hover */
  color: #2e073f; /* Purple text on hover */
  border: 2px solid #2e073f; /* Purple border */
}
